$header-background-color: #21232e;
$heading-text: #ffffff;
$button-background-color: #e3ac00;
$button-hover-background-color: #cf9b00;
$button-active-background-color: rgba(145, 108, 0, 0.7);
$underline: #ff4e33;
$section-background-color: #21232e;
$section-card-background-color: #3b3f50;
$banner-gradient: linear-gradient(-90deg,#912b53, #e3ab01);
$footer-background-color: #3b3f50;
$footer-text-color: #bfc1cc;
$section-card-text-link-color: #adc3ce;
$max-width: 1920px;

$header-img: url(../img/m-h-night.jpg);

$hind-font: 'Fresca', sans-serif;
$ssp-font: 'Source Sans Pro', sans-serif;

$button_settings:(
	"button_padd": 15px 50px,
	"button_border":none,
);