$header-background-color: #ffffff;
$heading-text: #2c2f3c;
$button-background-color: #699900;
$button-hover-background-color: #567e00;
$button-active-background-color: rgba(73, 107, 0, 0.7);
$underline: #14a0c7;
$section-background-color: #ffffff;
$section-card-background-color: #21232e;
$banner-gradient: linear-gradient(-90deg,#2c5adb, #699900);
$footer-background-color: #21232e;
$footer-text-color: #bfc1cc;
$section-card-text-link-color: #adc3ce;
$max-width: 1920px;

$header-img: url(../img/m-h-day.jpg);

$hind-font: 'Hind', sans-serif;
$ssp-font: 'Source Sans Pro', sans-serif;

$button_settings:(
	"button_padd": 17px 55px,
	"button_border":none,
);